<ion-content>
  <div class="splash-container">
    <!-- Parte superior con el encabezado -->
    <div class="header">
      <h1 class="encabezado">Comanda</h1>
    </div>

    <!-- Imagen del ícono en el centro -->
    <div class="icon-center">
      <img src="\assets\icon\logo_Uno.png" alt="App Icon" class="app-logo" />
    </div>

    <!-- Letras "CEN" con animación -->
    <div class="cen-container">
      <div class="cen-letter" id="letra-c">
        C<span class="completar">ristian</span>
      </div>
      <div class="cen-letter" id="letra-e">
        E<span class="completar">zequiel</span>
      </div>
      <div class="cen-letter" id="letra-n">
        N<span class="completar">icolas</span>
      </div>
    </div>

    <!-- Nombres correspondientes -->
    <div class="footer">
      <h2 class="texto">Cristian</h2>
      <h2 class="texto">Ezequiel</h2>
      <h2 class="texto">Nicolas</h2>
    </div>
  </div>
</ion-content>
