<ion-content>
  <div class="splash-container">
    <!-- Encabezado -->
    <div class="header">
      <h1 class="encabezado">Comanda</h1>
    </div>

    <!-- Imagen del logo en el centro -->
    <div class="icon-center">
      <img src="/assets/icon/logo_Uno.png" alt="App Icon" class="app-logo" />
    </div>

    <!-- Contenedor de letras C, E, N con animación en secuencia -->
    <div class="cen-container">
      <div class="cen-letter color-letras" id="letra-c">
        C<span class="completar color-letras">ristian Corsa </span>
      </div>
      <div class="cen-letter color-letras" id="letra-e">
        E<span class="completar color-letras" style="font-size: 1.6rem"
          >zequiel Monson</span
        >
      </div>
      <div class="cen-letter color-letras" id="letra-n">
        N<span class="completar color-letras" style="font-size: 1.7rem"
          >icolás Miguenz</span
        >
      </div>
    </div>
  </div>
</ion-content>
