ion-content {
  --background: url("/assets/background_splash.jpg") no-repeat center center /
    cover;
}

.splash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  background-color: #33322ead; /* Fondo de splash */
}

.header {
  .encabezado {
    font-size: 6rem;
    color: #e57933;
  }
}

.icon-center {
  .app-logo {
    width: 250px;
    height: auto;
    margin: 20px 0;
  }
}

.cen-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .cen-letter {
    font-size: 4rem;
    font-weight: bold;
    position: relative;
    opacity: 0;
    animation: fade-in 0.5s ease-in forwards;
  }

  .color-letras {
    background: linear-gradient(to right, #e57933, #f9b60b);
    -webkit-background-clip: text;
    color: transparent;
  }

  #letra-c {
    animation-delay: 1s;
    .completar {
      display: inline-block;
      opacity: 0;
      animation: fade-in 0.5s ease-in forwards;
      animation-delay: 3s;
      margin-left: 0.5rem; /* Espacio entre letra y nombre */
      font-size: 2rem;
    }
  }

  #letra-e {
    animation-delay: 2s;
    .completar {
      display: inline-block;
      opacity: 0;
      animation: fade-in 0.5s ease-in forwards;
      animation-delay: 4s;
      margin-left: 0.5rem;
      font-size: 2rem;
    }
  }

  #letra-n {
    animation-delay: 3s;
    .completar {
      display: inline-block;
      opacity: 0;
      animation: fade-in 0.5s ease-in forwards;
      animation-delay: 5s;
      margin-left: 0.5rem;
      font-size: 2rem;
    }
  }
}

/* Animación de aparición gradual */
@keyframes fade-in {
  to {
    opacity: 1;
  }
}
