ion-content {
  --background: url("/assets/background_splash.jpg") no-repeat center center /
    cover;
}

.splash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #33322ead; /* Fondo de splash */
}

.header {
  .encabezado {
    font-size: 5rem;
    color: #e57933;
  }
}

.icon-center {
  .app-logo {
    width: 250px;
    height: auto;
    margin: 20px 0;
  }
}

img {
  filter: drop-shadow(10px 10px 50px #f9b60b);
}

.cen-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .cen-letter {
    font-size: 4rem;
    font-weight: bold;
    position: relative;
    opacity: 0;
    animation: fade-in 0.5s ease-in forwards;
  }

  .color-letras {
    background: linear-gradient(to right, #e57933, #f9b60b);
    -webkit-background-clip: text;
    color: transparent;
  }

  #letra-c {
    animation-delay: 1s;
    .completar {
      display: inline-block;
      opacity: 0;
      animation: fade-in 0.5s ease-in forwards;
      animation-delay: 3.5s;
      margin-left: 0.5rem; /* Espacio entre letra y nombre */
      font-size: 2rem;
    }
  }

  #letra-e {
    animation-delay: 2s;
    .completar {
      display: inline-block;
      opacity: 0;
      animation: fade-in 0.5s ease-in forwards;
      animation-delay: 4.5s;
      margin-left: 0.5rem;
      font-size: 2rem;
    }
  }

  #letra-n {
    animation-delay: 3s;
    .completar {
      display: inline-block;
      opacity: 0;
      animation: fade-in 0.5s ease-in forwards;
      animation-delay: 5.5s;
      margin-left: 0.5rem;
      font-size: 2rem;
    }
  }
}

/* Animación de aparición gradual */
@keyframes fade-in {
  to {
    opacity: 1;
  }
}

.swirl-out-fwd {
  -webkit-animation: swirl-out-fwd 1s ease-in 6.5s both;
  animation: swirl-out-fwd 1s ease-in 6.5s both;
}

@-webkit-keyframes swirl-out-fwd {
  0% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(540deg) scale(5);
    transform: rotate(540deg) scale(5);
    opacity: 0;
  }
}
@keyframes swirl-out-fwd {
  0% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(540deg) scale(5);
    transform: rotate(540deg) scale(5);
    opacity: 0;
  }
}

.text-blur-out {
  animation: text-blur-out 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 6.2s both;
}

@keyframes text-blur-out {
  0% {
    filter: blur(0.01);
  }
  100% {
    filter: blur(12px) opacity(0);
  }
}
