<div *ngIf="loadingService.loadingStatus">
  <app-loading></app-loading>
</div>

<div id="contenedor">
  <ion-list>
    <ion-item
      (click)="cambiarEstadPedido(pedido)"
      *ngFor="let pedido of listaPedidos"
    >
      <ion-label>
        <!-- <h2>Mesa: {{ pedido.mesa.numero }}</h2> -->
        <ion-label>Estado: {{ pedido.estado | titlecase }}</ion-label>
        <!-- <ion-label
          >Hora:
          {{
            pedido.horaPedido.toDate() | date : "dd/MM/yyyy HH:mm"
          }}</ion-label
        >-->
      </ion-label>
    </ion-item>
  </ion-list>
</div>
