<ion-header>
  <ion-toolbar color="titulo">
    <ion-button slot="start" fill="clear" (click)="inicio()">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-button>
    <ion-title
      >Lista de {{ object === 'preparacion' ? 'Preparación' : object
      }}</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-supervisor-lista-clientes-pendientes
    *ngIf="object == 'clientesPendientes'"
  ></app-supervisor-lista-clientes-pendientes>
  <app-metre-lista-espera *ngIf="object == 'espera'"></app-metre-lista-espera>
  <app-mozo-lista-pedidos *ngIf="object == 'pedidos'"></app-mozo-lista-pedidos>
  <app-cocinero-bartender-pedido
    *ngIf="object == 'preparacion'"
  ></app-cocinero-bartender-pedido>
  <app-mesas-lista *ngIf="object == 'mesas'"></app-mesas-lista>
</ion-content>
