ion-header {
  ion-toolbar {
    ion-button {
      font-size: 20px;
      color: antiquewhite;
      ion-icon {
        color: antiquewhite;
      }
    }
    ion-title {
      text-transform: uppercase;
      text-align: center;
    }
  }
}

ion-content {
  --background: url("/assets/background_splash.jpg") no-repeat center center /
    cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 16px;
}
