
<ion-content>
  <!-- Indicadores -->
  <div class="contenedor-detalles">
    <ion-buttons class="contenedor-btn-close" slot="end">
      <ion-button class="btn-close" (click)="cerrarModal()">X</ion-button>
    </ion-buttons>
    <div class="contenedor-carrusel">
      <!-- Swiper Container -->
      <swiper-container #swiper [config]="slideOpts">
        <swiper-slide *ngFor="let foto of producto.fotos; let i = index">
          <img [src]="producto.fotos[i]" alt="Imagen del producto" />
        </swiper-slide>
      
      </swiper-container>
      
      <!-- Indicadores -->
      <div class="indicators">
        <span
          *ngFor="let foto of producto.fotos; let i = index"
          [ngClass]="{ active: i === activeIndex }"
        >
        ●
        </span>
      </div>
    </div>
    <h2 class="titulo">{{ producto.nombre }}</h2>
    <p class="descripcion">{{ producto.descripcion }}</p>
    <p class="precio">Precio: ${{ producto.precio }}</p>
    <p class="tiempo">Tiempo de preparación: {{ producto.tiempoPreparacion }} minutos</p>
    <div class="contenedor-botones">
      <ion-button class="btn-aniadir" (click)="agregarProducto()">
        Añadir
      </ion-button>
    </div>
  </div>
</ion-content>
