<ion-content>
  <div class="container">
    <ion-card class="login-card">
      <ion-grid>
        <ion-row>
          <ion-col size="9">
            <div class="heading">
              <h1>Registrar un usuario</h1>
            </div>
          </ion-col>
          <ion-col size="3">
            <div class="action-buttons">
              <ion-button expand="block" type="button" (click)="scanQr()">
                <ion-icon name="qr-code-outline"></ion-icon>
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <form
        [formGroup]="registerForm"
        (ngSubmit)="onRegister(registerForm.value)"
      >
        <ion-grid>
          <ion-row>
            <ion-col size="">
              <!-- Nombre -->
              <div class="form-group">
                <div class="input-wrapper">
                  <!-- <ion-icon name="mail-outline"></ion-icon> -->
                  <ion-input
                    type="text"
                    placeholder="Nombre"
                    formControlName="nombre"
                  ></ion-input>
                </div>
                <div
                  *ngIf="
                    registerForm.get('nombre')?.invalid &&
                    (registerForm.get('nombre')?.dirty ||
                      registerForm.get('nombre')?.touched)
                  "
                  class="error-message"
                >
                  <ion-text
                    color="danger"
                    *ngIf="registerForm.get('nombre')?.errors?.['required']"
                  >
                    El nombre es requerido.
                  </ion-text>
                </div>
              </div>
            </ion-col>
            <ion-col size="6">
              <!-- apellido -->
              <div class="form-group">
                <div class="input-wrapper">
                  <!-- <ion-icon name="mail-outline"></ion-icon> -->
                  <ion-input
                    type="text"
                    placeholder="Apellido"
                    formControlName="apellido"
                  ></ion-input>
                </div>
                <div
                  *ngIf="
                    registerForm.get('apellido')?.invalid &&
                    (registerForm.get('apellido')?.dirty ||
                      registerForm.get('apellido')?.touched)
                  "
                  class="error-message"
                >
                  <ion-text
                    color="danger"
                    *ngIf="registerForm.get('apellido')?.errors?.['required']"
                  >
                    El apellido es requerido.
                  </ion-text>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

        <!-- DNI y CUIL -->
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <div class="form-group">
                <div class="input-wrapper">
                  <!-- <ion-icon name="mail-outline"></ion-icon> -->
                  <ion-input
                    type="number"
                    placeholder="DNI"
                    formControlName="dni"
                  ></ion-input>
                </div>
                <div
                  *ngIf="
                    registerForm.get('dni')?.invalid &&
                    (registerForm.get('dni')?.dirty ||
                      registerForm.get('dni')?.touched)
                  "
                  class="error-message"
                >
                  <ion-text
                    color="danger"
                    *ngIf="registerForm.get('dni')?.errors?.['required']"
                  >
                    El DNI es requerido.
                  </ion-text>
                </div>
              </div>
            </ion-col>

            <ion-col size="6">
              <div class="form-group">
                <div class="input-wrapper">
                  <ion-input
                    placeholder="CUIL"
                    formControlName="cuil"
                    (input)="formatCuil()"
                  ></ion-input>
                </div>
                <div *ngIf="cuil.invalid && cuil.touched" class="error-message">
                  <ion-text
                    color="danger"
                    *ngIf="registerForm.get('cuil')?.errors?.['required']"
                  >
                    El CUIL es requerido.
                  </ion-text>
                  <ion-text color="danger" *ngIf="cuil.errors?.pattern">
                    Formato incorrecto. Debe ser XX-XXXXXXXX-X.
                  </ion-text>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div *ngIf="tipoUsuario === 'empleado'" class="form-group">
          <div class="input-wrapper">
            <ion-select placeholder="Puesto" formControlName="perfil">
              <ion-select-option
                *ngFor="let perfil of perfiles"
                [value]="perfil"
              >
                {{ perfil }}
              </ion-select-option>
            </ion-select>
          </div>
          <div
            *ngIf="
              registerForm.get('perfil')?.invalid &&
              registerForm.get('perfil')?.touched
            "
            class="error-message"
          >
            <ion-text
              color="danger"
              *ngIf="registerForm.get('perfil')?.errors?.['required']"
            >
              El puesto es requerido.
            </ion-text>
          </div>
        </div>

        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <div class="form-group">
                <div class="input-wrapper">
                  <!-- <ion-icon name="mail-outline"></ion-icon> -->
                  <ion-input
                    type="email"
                    placeholder="Correo"
                    formControlName="email"
                  ></ion-input>
                </div>
                <div
                  *ngIf="
                    registerForm.get('email')?.invalid &&
                    (registerForm.get('email')?.dirty ||
                      registerForm.get('email')?.touched)
                  "
                  class="error-message"
                >
                  <ion-text
                    color="danger"
                    *ngIf="registerForm.get('email')?.errors?.['required']"
                  >
                    Correo es requerido.
                  </ion-text>
                  <ion-text
                    color="danger"
                    *ngIf="registerForm.get('email')?.errors?.['email']"
                  >
                    Correo no es válido.
                  </ion-text>
                </div>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="form-group">
                <div class="input-wrapper">
                  <!-- <ion-icon name="mail-outline"></ion-icon> -->
                  <ion-input
                    type="email"
                    placeholder="Correo Google"
                    formControlName="emailGoogle"
                  ></ion-input>
                </div>
                <div
                  *ngIf="
                    registerForm.get('emailGoogle')?.invalid &&
                    registerForm.get('emailGoogle')?.touched
                  "
                  class="error-message"
                >
                  <ion-text
                    color="danger"
                    *ngIf="registerForm.get('emailGoogle')?.errors?.['notGoogleEmail']"
                  >
                    Debe ser Gmail.
                  </ion-text>
                  <ion-text
                    color="danger"
                    *ngIf="registerForm.get('email')?.errors?.['email']"
                  >
                    Correo de Google no válido.
                  </ion-text>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <div class="form-group">
                <div class="input-wrapper">
                  <!-- <ion-icon name="lock-closed-outline"></ion-icon> -->
                  <ion-input
                    [attr.type]="showPassword ? 'text' : 'password'"
                    placeholder="Password"
                    formControlName="password"
                  ></ion-input>
                  <ion-icon
                    [name]="showPassword ? 'eye-outline' : 'eye-off-outline'"
                    (click)="togglePasswordVisibility()"
                  ></ion-icon>
                </div>
                <div
                  *ngIf="
                    registerForm.get('password')?.invalid &&
                    (registerForm.get('password')?.dirty ||
                      registerForm.get('password')?.touched)
                  "
                  class="error-message"
                >
                  <ion-text
                    color="danger"
                    *ngIf="registerForm.get('password')?.errors?.['required']"
                  >
                    Password es requerido.
                  </ion-text>
                  <ion-text
                    color="danger"
                    *ngIf="registerForm.get('password')?.errors?.['minlength']"
                  >
                    Password debe tener al menos 6 caracteres.
                  </ion-text>
                </div>
              </div>
            </ion-col>

            <ion-col size="6">
              <div class="form-group">
                <div class="input-wrapper">
                  <!-- <ion-icon name="lock-closed-outline"></ion-icon> -->
                  <ion-input
                    [attr.type]="showRPassword ? 'text' : 'password'"
                    placeholder="Repetir Password"
                    formControlName="rpassword"
                  ></ion-input>
                  <ion-icon
                    [name]="showRPassword ? 'eye-outline' : 'eye-off-outline'"
                    (click)="toggleRpasswordVisibility()"
                  ></ion-icon>
                </div>
                <div
                  *ngIf="
                    registerForm.get('rpassword')?.invalid &&
                    (registerForm.get('rpassword')?.dirty ||
                      registerForm.get('rpassword')?.touched)
                  "
                  class="error-message"
                >
                  <ion-text
                    color="danger"
                    *ngIf="registerForm.get('rpassword')?.errors?.['required']"
                  >
                    Password es requerido.
                  </ion-text>
                  <ion-text
                    color="danger"
                    *ngIf="registerForm.get('rpassword')?.errors?.['minlength']"
                  >
                    Password debe tener al menos 6 caracteres.
                  </ion-text>
                </div>
                <div *ngIf="registerForm.hasError('passwordMismatch')">
                  <ion-text color="danger"
                    >Las contraseñas no coinciden.</ion-text
                  >
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="action-buttons">
          <ion-button expand="block" type="button" (click)="tomarFoto()"
            >Tomar foto</ion-button
          >
          <ion-button expand="block" type="submit">Crear</ion-button>
          <ion-button expand="block" type="button" (click)="irAlLogin()"
            >Volver</ion-button
          >
        </div>
      </form>
    </ion-card>
  </div>
</ion-content>
