.mio {
  text-align: right;
  background-color: #f6e99e;
  border-radius: 12px;
  margin-left: 2rem;
  padding: 0.5rem;
}

.ellos {
  text-align: left;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 12px;
  margin-right: 2rem;
  padding: 0.5rem;
}

ion-content {
  --background: url(../../../assets/background_uno.jpg) 0 0/100% 100% no-repeat;
  display: flex;
  flex-direction: column;
  height: 90%;
}

ion-item {
  --background: transparent;
  margin: 0.5rem;
  padding: 0.5rem;
}

ion-list {
  flex-grow: 1;
  background-color: transparent;
  overflow-y: auto;
}

ion-footer {
  position: relative;
  bottom: 0;

  ion-row {
    align-items: center;
  }

  ion-toolbar {
    --background: linear-gradient(to right, #e57933, #f9b60b);
  }

  ion-button {
    --background: #ffda03 !important;
  }

  ion-input {
    --background: white;
    --border-radius: 10px;
    --padding-start: 10px;
    font-size: 1.2rem;
    --color: black;
  }

  ion-icon {
    color: black;
  }
}
