<ion-content>
  <!-- Mostrar el loading spinner cuando isLoading es true -->
  <div *ngIf="loadingService.loadingStatus">
    <app-loading></app-loading>
  </div>

  <div class="container">
    <ion-card class="login-card">
      <form [formGroup]="loginForm" (ngSubmit)="onlogin()">
        <div class="heading">
          <h1><span class="encabezado">Comanda</span> CEN</h1>
          <p>Inicia sesión para continuar</p>
        </div>

        <div class="form-group">
          <div class="input-wrapper">
            <ion-icon name="mail-outline"></ion-icon>
            <ion-input
              type="email"
              placeholder="Email"
              formControlName="email"
            ></ion-input>
          </div>
          <div
            *ngIf="
              loginForm.get('email')?.invalid &&
              (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)
            "
            class="error-message"
          >
            <ion-text
              color="danger"
              *ngIf="loginForm.get('email')?.errors?.['required']"
            >
              Email es requerido.
            </ion-text>
            <ion-text
              color="danger"
              *ngIf="loginForm.get('email')?.errors?.['email']"
            >
              Email no es válido.
            </ion-text>
          </div>
        </div>

        <div class="form-group">
          <div class="input-wrapper">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <ion-input
              [attr.type]="showPassword ? 'text' : 'password'"
              placeholder="Password"
              formControlName="password"
            ></ion-input>
            <ion-icon
              [name]="showPassword ? 'eye-outline' : 'eye-off-outline'"
              (click)="togglePasswordVisibility()"
            ></ion-icon>
          </div>
          <div
            *ngIf="
              loginForm.get('password')?.invalid &&
              (loginForm.get('password')?.dirty ||
                loginForm.get('password')?.touched)
            "
            class="error-message"
          >
            <ion-text
              color="danger"
              *ngIf="loginForm.get('password')?.errors?.['required']"
            >
              Password es requerido.
            </ion-text>
            <ion-text
              color="danger"
              *ngIf="loginForm.get('password')?.errors?.['minlength']"
            >
              Password debe tener al menos 6 caracteres.
            </ion-text>
          </div>
        </div>

        <div class="action-buttons">
          <ion-button expand="block" type="submit" [disabled]="!loginForm.valid"
            >Ingresar</ion-button
          >
          <p class="forgot-password">¿No tienes una cuenta?</p>
          <ion-button
            expand="block"
            fill="outline"
            class="register-button"
            (click)="irARegistro('cliente')"
          >
            Registrarse
          </ion-button>
          <ion-button
            expand="block"
            fill="outline"
            class="register-button"
            (click)="irARegistro('clienteAnonimo')"
          >
            Ingresar sin registrarse
          </ion-button>
        </div>
      </form>
    </ion-card>

    <div class="fab-container">
      <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button
          (click)="toggleUserOptions()"
          [ngClass]="{'small-fab': showUserOptions}"
        >
          <img src="\assets\icon\logo_Uno.png" alt="" />
        </ion-fab-button>
        <ion-fab-list side="start">
          <ion-fab-button
            [ngClass]="{'small-fab-child': showUserOptions}"
            (click)="fillFormWithUser(1)"
          >
            <img src="\assets\Usuarios\dueño.png" alt="" />
          </ion-fab-button>
          <ion-fab-button
            [ngClass]="{'small-fab-child': showUserOptions}"
            (click)="fillFormWithUser(2)"
          >
            <img src="\assets\Usuarios\mozo.png" alt="" />
          </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="end">
          <ion-fab-button
            [ngClass]="{'small-fab-child': showUserOptions}"
            (click)="fillFormWithUser(3)"
          >
            <img src="\assets\Usuarios\bartender.png" alt="" />
          </ion-fab-button>
          <ion-fab-button
            [ngClass]="{'small-fab-child': showUserOptions}"
            (click)="fillFormWithUser(4)"
          >
            <img src="\assets\Usuarios\cliente.png" alt="" />
          </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="top" class="fab-list-head">
          <div class="fab-list-top">
            <ion-fab-button
              [ngClass]="{'small-fab-child': showUserOptions}"
              (click)="fillFormWithUser(5)"
            >
              <img src="\assets\Usuarios\metre.png" alt="" />
            </ion-fab-button>
            <ion-fab-button
              [ngClass]="{'small-fab-child': showUserOptions}"
              (click)="fillFormWithUser(6)"
            >
              <img src="\assets\Usuarios\cocinero.png" alt="" />
            </ion-fab-button>
          </div>
        </ion-fab-list>
      </ion-fab>
    </div>
  </div>
</ion-content>
