<div id="contenedor">
  <h1>Clientes en lista de espera</h1>
  <div *ngIf="listaVacia">
    <h3>No hay clientes en la lista de espera</h3>
  </div>
  <ion-list>
    <ion-item-sliding *ngFor="let cliente of listaClientes">
      <ion-item-options side="end">
        <ion-item-option
          color="success"
          (click)="asignarMesa(mesa.numero, cliente.id)"
          ><ion-icon name="checkmark-outline"></ion-icon
        ></ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-avatar *ngIf="cliente.foto !== undefined" slot="start">
          <img [src]="[cliente.foto]" />
        </ion-avatar>
        <ion-label>
          <h2>
            {{ cliente.nombre | titlecase }} {{ cliente.apellido | titlecase }}
          </h2>
        </ion-label>
        <ion-item-options side="end">
          <ion-item-option
            color="danger"
            (click)="cambiarEstadoCliente('rechazado', cliente)"
            ><ion-icon name="trash-outline"></ion-icon
          ></ion-item-option>
        </ion-item-options>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</div>
