#contenedor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5vh 5vw 2vh 5vw;
  height: 80vh;
  color: white;
}

ion-textarea {
  font-size: 1.5rem;
  padding: 15px;
  color: white;
}

.ionLabel {
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
}

ion-item {
  --background: #d96d2d80 !important;
  border-radius: 15px;
  border: 4px solid #f4a40a;
}

.ion-text-right {
  font-size: 25px;
  span {
    color: #f4a40a;
    font-weight: 600;
  }
}

ion-button {
  font-size: 1.5rem;
}
