ion-content {
  --background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), 
    url("/assets/background_splash.jpg") no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 16px;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 24px; /* Aumenta el tamaño de fuente */
  line-height: 32px; /* Ajusta la altura de línea para mayor legibilidad */
  color: #ffffff;
}

#container p {
  font-size: 18px; /* Aumenta el tamaño de fuente */
  line-height: 26px;
  color: #cccccc; /* Cambia el color a un tono más claro para contraste */
  margin: 0;
}

#container a {
  text-decoration: none;
  font-size: 18px; /* Aumenta el tamaño para los enlaces */
  color: #ffffff;
}
