<ion-header>
  <ion-toolbar color="titulo">
    <ion-button slot="end" fill="clear" (click)="logout()">
      <ion-icon name="exit-outline"></ion-icon>
    </ion-button>
    <ion-title><span class="encabezado">Comanda</span> CEN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-background">
  <div class="home-background">
    <app-duenio-supervisor-home
      [usuario]="usuario"
      *ngIf=" usuario!=undefined && usuario?.perfil == 'dueño' || usuario?.perfil == 'supervisor'"
    ></app-duenio-supervisor-home>
    <app-cliente-home
      [usuario]="usuario"
      *ngIf="usuario!=undefined && usuario?.perfil == 'cliente' || usuario?.perfil == 'cliente anonimo'"
    ></app-cliente-home>
    <app-empleados-home
      [usuario]="usuario"
      *ngIf="usuario!=undefined && (usuario?.perfil == 'metre'|| usuario?.perfil == 'mozo' || usuario?.perfil == 'cocinero' || usuario?.perfil == 'bartender')"
    ></app-empleados-home>
  </div>
</ion-content>
