<ion-content>
  <div class="container">
    <ion-card class="login-card">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <div class="heading">
              <h1>Registrar una mesa</h1>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <form [formGroup]="mesaForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <div class="input-wrapper">
            <ion-input
              type="number"
              placeholder="Número de Mesa"
              formControlName="numero"
            ></ion-input>
          </div>
        </div>

        <!-- <div
            *ngIf="
              registerForm.get('email')?.invalid &&
              (registerForm.get('email')?.dirty ||
                registerForm.get('email')?.touched)
            "
            class="error-message"
          >
            <ion-text
              color="danger"
              *ngIf="registerForm.get('email')?.errors?.['required']"
            >
              Email es requerido.
            </ion-text>
            <ion-text
              color="danger"
              *ngIf="registerForm.get('email')?.errors?.['email']"
            >
              Email no es válido.
            </ion-text>
          </div>
        </div> -->

        <div class="form-group">
          <div class="input-wrapper">
            <!-- <ion-icon name="lock-closed-outline"></ion-icon> -->
            <ion-input
              placeholder="Nro. de comensales"
              formControlName="nroComensales"
              type="number"
            ></ion-input>
          </div>

          <ion-item class="selectTipo">
            <ion-label>Tipo </ion-label>
            <ion-select formControlName="tipo">
              <ion-select-option value="VIP">VIP</ion-select-option>
              <ion-select-option value="Discapacitados"
                >Para discapacitados</ion-select-option
              >
              <ion-select-option value="Estándar">Estándar</ion-select-option>
            </ion-select>
          </ion-item>

          <!-- <div
            *ngIf="
              registerForm.get('password')?.invalid &&
              (registerForm.get('password')?.dirty ||
                registerForm.get('password')?.touched)
            "
            class="error-message"
          >
            <ion-text
              color="danger"
              *ngIf="registerForm.get('password')?.errors?.['required']"
            >
              Password es requerido.
            </ion-text>
            <ion-text
              color="danger"
              *ngIf="registerForm.get('password')?.errors?.['minlength']"
            >
              Password debe tener al menos 6 caracteres.
            </ion-text>
          </div> -->
        </div>

        <div class="form-group" *ngIf="foto">
          <div class="input-wrapper">
            <div>
              <img [src]="foto" alt="Foto de la mesa" />
            </div>
          </div>
        </div>

        <div class="action-buttons">
          <ion-button expand="block" type="button" (click)="tomarFoto()">
            Tomar foto
          </ion-button>
          <ion-button expand="block" type="submit" [disabled]="!mesaForm.valid">
            Guardar Mesa
          </ion-button>
          <ion-button
            class="volver"
            expand="block"
            type="submit"
            (click)="volver()"
          >
            <ion-icon
              style="font-size: 2rem !important"
              name="caret-back-circle"
            ></ion-icon>
          </ion-button>
        </div>
      </form>
    </ion-card>
  </div>
</ion-content>
