<div *ngIf="loadingService.loadingStatus">
  <app-loading></app-loading>
</div>

<section class="ion-text-center ion-margin-bottom">
  <ion-grid>
    <ion-row>
      <ion-col
        col-12
        *ngIf="usuario?.estado == undefined || usuario?.estado == 'aprobado'"
      >
        <ion-card
          (click)="leerQR()"
          class="ion-text-center ion-padding"
          color="000"
        >
          <ion-icon name="list"></ion-icon>
          <h2 class="long-name">Lista de Espera</h2>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col
        col-12
        *ngIf="
          usuario?.estado == undefined ||
          usuario?.estado == 'puedeTomarMesa' ||
          usuario?.estado == 'mesaTomada'
        "
      >
        <ion-card
          (click)="leerQR()"
          class="ion-text-center ion-padding"
          color="000"
        >
          <ion-icon name="qr-code-outline"></ion-icon>
          <h2 class="long-name">QR de la mesa</h2>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col
        col-12
        *ngIf="usuario?.estado == undefined || usuario?.estado == 'mesaTomada'"
      >
        <ion-card
          [routerLink]="['/consulta', usuario.perfil, usuario?.id]"
          class="ion-text-center ion-padding"
        >
          <ion-icon name="chatbubbles-outline"></ion-icon>
          <h2 class="long-name">Consultar al mozo</h2>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 *ngIf="usuario?.estado == 'mesaTomada'">
        <ion-card
          [routerLink]="['/carta', usuario?.id]"
          class="ion-text-center ion-padding"
        >
          <ion-icon name="restaurant-outline"></ion-icon>
          <h2 class="long-name">Ver la carta</h2>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>
