/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Zen+Kurenaido&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Zen+Kurenaido&display=swap");

* {
  font-family: "Zen Kurenaido", sans-serif;
}

/* Fuente para el texto del contenido */
.encabezado {
  font-family: "Noto Sans JP", sans-serif;
}

ion-toast {
  .toast-container {
    flex-direction: row-reverse !important;
  }
}

ion-toolbar {
  background: black !important;
  box-shadow: 0 4px 10px rgba(244, 162, 10, 0.5) !important; /* Cambia el color y opacidad según tu preferencia */

  ion-title {
    color: #d96d2d !important;
    font-weight: bold !important;
    font-size: 1.8rem !important;
  }

  ion-icon {
    font-size: 2rem;
    color: #f4a40a !important;
  }
}

ion-list {
  background: transparent !important;
}

ion-item {
  --background: linear-gradient(to right, #d96d2d, #f4a40a);
}

// ion-button {
//   --background: linear-gradient(
//     to right,
//     #d96d2d,
//     #f4a40a
//   ); /* Tonos más intensos */
//   --border-radius: 8px;
//   margin-bottom: 12px;
//   color: #ffffff; /* Texto blanco para contraste */
//   font-weight: bold;
//   font-size: 18px; /* Aumenta el tamaño del texto en los botones */
// }

h1 {
  font-size: 2rem !important;
}

h2 {
  font-size: 1.8rem !important;
}

p {
  font-size: 1.5rem !important;
}
